
.inter-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar */
.head-container{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
}
.navbar{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}
.nav-text{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}
.head img{
    display: none;
}
.head .wave{
    color: rgba(145, 0, 248, 1);
}
.head .tech{
    color: rgba(255, 255, 255, 1);
}
.btn{
    color: #ffffff;
    padding: 12px 16px;
    background-color: rgba(145, 0, 248, 1);
    border-radius: 50px;
    border: none;
    font-size: rem;
    font-weight: 600;
}

/* banner */


.img-1{
    width: 100%;
}
.banner-img{
    position: relative;
}
.img-2{ 
    position: absolute;
    bottom: 44%;
    right: 39%;
}

.img-3{
    position: absolute;
    bottom: 55%;
    right: 46%;
}

/* banner item */
.banner-item{
    
   color: white;
   display: grid;
    grid-template-columns: 1;
    align-items: center;
    text-align: center;
    justify-content: center;    
    position: absolute;
    top: 60%;
    right: 35%;
    
}



.banner-item h1{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-item p{
    margin-bottom: 1.5rem;
}

.btn-2{
      color: rgba(0, 255, 136, 1);
    padding: 12px 16px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid rgba(0, 255, 136, 1);
    font-weight: 600;
    margin-left: 10px;
}

/* podcast */
main{
     background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.podcast , .podcast-text{
   max-width: 1200px;
   margin: 0 auto;
}

.podcast-text h2{
    margin-bottom: 16px;
    font-size: 3rem;
    font-weight: 700; 
}

.podcast-text{
    margin-bottom: 80px;
}

.podcast-rating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    padding-bottom: 120px;
    
}
.rating-1 h1{
    margin-bottom: 16px;
    color: #00ff88;
}
.rating-2 h1{
    margin-bottom: 16px;
    color: #00ff88;
}
.rating-3 h1{
    margin-bottom: 16px;
    color: #00ff88;
}
.rating-4 h1{
    margin-bottom: 16px;
    color: #00ff88;
}


/* grid-container */
.container{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;
    
}
.grid-container{
    max-width: 1200px;
    margin: 40px auto;
    min-height: 783px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    
}

.grid-text{
    padding-top: 120px;
}

.box-1{
    
    background-color: #351165;
    grid-row: span 2;
    border: 40px;
    padding: 40px;
    border-radius: 40px;
    text-align: left; 
     
}

 .box-1 img{
    margin-top: 107px;
}
.box-1 h3{
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: 700;
}
.box-1 p{
    margin-top: 16px;
    
}
/* box2 */
.box-2{
    background-color: #351165;
    grid-column: span 2;
    border: 40px;
    padding: 40px;
    border-radius: 40px;
    text-align: left; 
}
.box-2 h3{
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: 700;
}
.box-2 p{
    margin-top: 16px;
}
 /* box3 */
.box-3{
    background-color: #351165;
    grid-column: span 2;
    border: 40px;
    padding: 40px;
    border-radius: 40px;
    text-align: left; 
}

.box-3 h3{
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: 700;
}
.box-3 p{
    margin-top: 16px;
}
/* box-4 */
.box-4{
    background-color: #351165;  
    grid-column: span 2;
    border: 40px;
    padding: 40px;
    border-radius: 40px;
    text-align: left; 
}
.box-4 h3{
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: 700;
}
.box-4 p{
    margin-top: 16px;
}
/* box5 */
.box-5{
    background-color: #351165;
    grid-row: span 1;
    border: 40px;
    padding: 40px;
    border-radius: 40px;
    text-align: left; 
}
.box-5 h3{
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: 700;
}
.box-5 p{
    margin-top: 16px;
}






/* Responsive styles */

@media screen and (max-width:576px) {
/* .head{
    position: relative;
        right: 600%; 
        top: 10px;       
} */


   /* .head img{
 display: inline;
 position: relative;
 left: 400px;
 bottom: 20px;
 
} */
 .head h2{
    
 }


.navbar{
    flex-direction: column;
    
}
.nav-text{
    display: none;
}

.nav-button{
    display: none;
}

.banner{
    width: 100%;
}

.banner-item{
    top: 25%;
    left: 33%;
    
}
.banner-item h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.banner-item p{
    font-size: 15px;
    font-weight: 600;
    width: 400px;
    padding-top: 10px;
}


.btn-2{
    margin-top: 20px;
    margin-left: 5px;
}



.banner{
    width: 100%;
    height: 466px;
    
    
}

    
.img-2{
    max-width: 28%;
    left: 36%;
    top: 6%;
}

.img-3{
    max-width: 10%;
    left: 45%;
    top: 18%;
}

/* podcast */
.podcast hr{
    position: relative;
    bottom: 70px;
    
}
.podcast-text{
    padding-top: 20px;
    
}

.podcast-text h2{
    padding-top: 40px;
    font-size: 2rem;
    font-weight: 700; 
}
.podcast-text p{
    
    height: 119px;
    
}

.podcast-rating{
    
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1px;
    padding-bottom: 40px;
}

.rating-1 {
    margin-bottom: 40px;
}

/* card section */
.grid-container{
    grid-template-columns: 1fr;
}

.grid-text{
    padding-top: 50px;
}

.box-1{
    margin-left: 30px;   
}
.box-2{
    margin-left: 30px;   
    margin-right: 30px;
}
.box-3{
    margin-left: 30px;  
    margin-right: 30px; 
}
.box-4{
    margin-left: 30px;   
    margin-right: 30px;
}
.box-5{
    margin-left: 30px; 
      
}

}